.section-questions {
  padding: 90px 0 150px;
  position: relative;
  background-color: $primary-dark;
  background: linear-gradient(0deg, $primary-dark 0%, $primary-dark 55%, rgba(253, 187, 45, 0) 47%);

  @include media-breakpoint-up(lg) {
    background: linear-gradient(0deg, $primary-dark 0%, $primary-dark 46%, rgba(253, 187, 45, 0) 46%);
  }

  z-index: 10;

  &--card {
    padding-top: 40px;
    background: linear-gradient(0deg, $primary-dark 0%, $primary-dark 77%, rgba(253, 187, 45, 0) 47%);
  }

  &::before {
    content: "";
    position: absolute;
    height: 304px;
    width: 100%;
    left: 0;
    top: 0;
    background-image: url(../images/svg/section-questions-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  &--second-layer::after {
    content: "";
    position: absolute;
    height: 450px;
    width: 100%;
    left: 0;
    top: -156px;
    background-image: url(../images/svg/section-questions-bg-2.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
  }

  &--transparent {
    background: none !important;

    &::before,
    &::after {
      content: none;
    }
  }

  @include media-breakpoint-up(md) {
    &--card {
      background: linear-gradient(0deg, $primary-dark 0%, $primary-dark 62%, rgba(253, 187, 45, 0) 47%);
      &::before {
        top: 120px !important;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 200px;
  }
}
