.section-step {
  padding: 80px 0 130px;
  background-image: url(../images/svg/step-bg.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #172b4d;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    top: -134px;
    left: 0;
    height: 135px;
    background-image: url(../images/svg/step-mobile-bg.svg);
    background-repeat: no-repeat;
    background-position: center top;
  }

  @include media-breakpoint-up(lg) {
    padding: 80px 0 170px;
  }
}
