@font-face {
  font-family: "Interstate";
  src: url("../fonts/Interstate-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Interstate";
  src: url("../fonts/Interstate-light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Interstate";
  src: url("../fonts/Interstate-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.heading-primary {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;

  @include media-breakpoint-up(lg) {
    font-size: 58px;
  }
}

.heading-secondary {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;

  & + * {
    margin-top: 12px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 38px;
  }
}

.text-sm {
  font-size: 14px;
}

.text-lg {
  font-size: 18px;
}

.fw-normal {
  font-weight: 400;
}

.suptitle {
  font-size: 16px;
  font-weight: 700;
  color: #92b9f4;
  text-transform: uppercase;
  & + * {
    margin-top: 10px;
  }
}
