.main-bg {
  position: relative;
  margin-top: 270px;
  display: inline-block;
  width: 100%;

  &--loan {
    margin-top: 156px !important;

    &::before {
      top: -270px !important;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -400px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 406px;
    background-image: url(../images/svg/top-wave.svg);
    background-position: center top;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    &--loan {
      &::before {
        top: -300px !important;
      }
    }
  }

  @media (min-width: 992px) {
    margin-top: 322px;

    &--loan {
      &::before {
        top: -406px !important;
      }
    }
  }
}

.top-wave {
  position: relative;
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    top: -305px;
    left: 0;
    width: 100%;
    height: 406px;
    background-image: url(../images/svg/top-wave.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

    @media (min-width: 992px) {
      top: -405px;
    }
  }
}

.space-y {
  p:not(:last-child) {
    margin-bottom: 24px;
  }
}
